/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  position: relative;
  background-color: #000;
  min-height: 60vh;
}

[data-theme="light"] .heroBanner {
  color: #000;
}

.heroBanner iframe {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

@media screen and (max-width: 966px) {
  .heroBanner iframe {
    pointer-events: none;
  }
  h1 {
    font-size: 2.2rem!important;
  }
}

.heroBanner iframe ~ div {
  z-index: 2;
  text-align: center;
  width: auto;
  padding: 2rem;
  pointer-events: none;
  border-radius: 2px;
  background-color: #52626c;
  mix-blend-mode: multiply;
  color: #fff;
  
}
.heroBanner iframe ~ div a {
  pointer-events: auto;
  color: inherit!important;
}

.heroBanner > div > h1,
.heroBanner > div > p {
  user-select: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}
