/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #077d57;
  /*
  --ifm-color-primary-dark: rgb(154, 187, 62);
  --ifm-color-primary-darker: rgb(150, 182, 62);
  --ifm-color-primary-darkest: rgb(131, 160, 52);
  --ifm-color-primary-light: rgb(179, 216, 78);
  --ifm-color-primary-lighter: rgb(189, 226, 85);
  --ifm-color-primary-lightest: rgb(209, 248, 101);
  */
  --ifm-code-font-size: 95%;
}

a {
  text-decoration: underline;
}

.menu a,
.navbar a,
.pagination-nav a,
.table-of-contents a {
  text-decoration: none;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

p, li, dt, dd, figcaption {
  max-width: 80ch;
}

.menu--responsive .menu__button {
  color: #fff;
  background: var(--ifm-link-color);
  border: 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  min-height: 45px;
}

/* Fix Docusaurus tabbing issues */
@media (max-width: 996px) {
  .navbar--fixed-top:not(.navbar-sidebar--show) .navbar-sidebar__items {
    display: none;
  }
  .navbar--fixed-top.navbar-sidebar--show:not(:focus-within) .navbar-sidebar,
  .navbar--fixed-top.navbar-sidebar--show:not(:focus-within) .navbar-sidebar__backdrop {
    display: none;
  }
}
@media (min-width: 997px) {
  .navbar-sidebar {
    display: none;
  }
}
body {
  overflow-y: auto!important;
}
:focus {
  outline-color: -webkit-focus-ring-color !important;
  outline-style: auto !important;
  outline-width: thin !important;
  outline: revert !important;
}
.requirement {
  color: black;
  background-color:#88ffaa;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  margin-right: 5px;
}
.enhancement {
  color: black;
  background-color:#ffff88;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  margin-right: 5px;
}
.impractical {
  color: black;
  background-color:#ff8866;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  margin-right: 5px;
}
.undecided {
  color: black;
  background-color:#ccc;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  margin-right: 5px;
}
